<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body style="background-color:#FB6107">

	<div class="jumbotron" style="background-color:#FFC321; text-align:center">
		<h1 class="display-3">Bainbridge Burgers</h1>
		<p class="lead">
			<h2>Best Burgers on the Island</h2>
		</p>
		<img class="card-img-top" src="/assets/img/hamburger.png" alt="hamburger" style="width: 400px; ">

	</div>

	{{{ body }}}
</body>

</html>