
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-4">

<ul class="list-group">
    {{#each burgers}} {{#unless devoured}}
    {{!-- -- ">" reads the views/partials file -- --}}
    {{> burgers/burger-block devoured = false}}
    {{/unless}} {{/each}}
</ul>
</div>

<div class="col-md-2"></div>
<div class="col-md-4">

<ul>
    {{#each burgers}} {{#if devoured}}
    {{!-- -- ">" reads the views/partials file -- --}}
    {{> burgers/burger-block devoured = true}}
    {{/if}} {{/each}}
</ul>
</div>
</div>